<br>
<br>
<br>
<div class="d-flex justify-content-center">
  <div class="card text-white bg-success mb-3" style="width: 30rem;">
    <div class="card-header"><h2>Sign Up</h2></div>
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs" style="width: 27rem;">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :full_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "full_name" }%>
            <%= f.input :artist,
                        # required: true,
                        autofocus: true,
                        input_html: { autocomplete: "artist" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
            <a href="/users/sign_in" type="submit" style="font-size:14px; color:white">Log in instead</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
