<div class="container mt-5">
  <h2><%= @user.artist %></h2>
    <% @products.each do |product| %>
      <div class="card-product m-3">
        <img src=<%= product.img_url %> />
          <div class="card-product-infos">
            <div>
              <h4><%= link_to product.name, product_path(product) %></h4>
              <p><%= product.description %></p>
            </div>
          <h4 class="card-product-pricing"> $ <%=product.price%></h4>
        </div>
      </div>
    <% end %>
</div>
