<div class="container mt-5 card-board">
  <h4 class="text-left"><strong> Musicians, singers and bands </strong></h4>
  <div class="row ml-5">
    <% @users.each do |user| %>
      <div class="col-md-12 col-lg-6">
        <div class="card-product my-4 mr-4">
          <% if user.products.first.photo.attached?  %>
            <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <img src=<%= "#{user.products.first.img_url}" %> />
          <% end %>
            <div class="card-product-infos">
              <h5><%= link_to user.artist, artist_path(user) %></h5>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <div class="">
    <p class='btn btn-info mr-3'><%= link_to 'Create a new Product', new_product_path %></p>
    <p class='btn btn-light'><%= link_to 'Home', root_path %></p>
  </div>
</div>
