<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h5 class="text-left"><%= "My orders" %></h5>
      <div class="card-body">
        <table class="table table-hover">
            <tr>
              <th class="">User</th>
              <th class="">Order</th>
              <th class="">Submited at</th>
              <th class="">Product</th>
              <th class="">Artist</th>
              <th class="">$</th>
            </tr>
            <% @orders.each do |order| %>
              <tr>
                <td class=""><%= order.user.full_name  %></td>
                <td class=""><%= order.id  %></td>
                <td class=""><%= order.created_at  %></td>
                <td class=""><%= order.product.name  %></td>
                <td class=""><%= order.product.user.artist %></td>
                <td class=""><%= order.product.price %></td>
              </tr>
            <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-sm-4">
      <div class="btn btn-light">
          <%= link_to 'Back to Products', products_path %>
      </div>
      </div>
    </div>
  </div>
</div>
