<h1>Info about Product</h1>

<p> Product: <%= @product.name %> </p>
<p> Category: <%= @product.category %> </p>
<p> Description: <%= @product.description %> </p>
<p> Price R$: <%= @product.price %> </p>
<p> Stock: <%= @product.category %> </p>

<%= link_to 'Back to Products', products_path %>
