<br>
<br>
<br>
<div class="d-flex justify-content-center">
  <div class="card text-white bg-light mb-3" style="width: 30rem;">
    <div class="card-header" style="color:black; text-align:center;"><h2><%= @product.name %></h2></div>
      <div class="card-body row" style="margin: auto;">
        <div class="form-inputs" style="width: 27rem;">
          <% if @product.photo.attached?  %>
            <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <div style="text-align:center;"><img src=<%= @product.img_url %>  style="width:100%"/></div>
          <% end %>
          <div style="color:black; align-items:center">
            <br>
              <ul class="list-group list-group-flush ">
                <li class="list-group-item"><b>Artist: </b><%= @product.user.artist %></li>
                <li class="list-group-item"><b>Category: </b><%= @product.category %></li>
                <li class="list-group-item"><b>About product: </b><%= @product.description %></li>
                <li class="list-group-item"><b>Price: </b><%= number_to_currency(@product.price) %></li>
                <li class="list-group-item"><b>Stock: </b><%= @product.stock %> un.</li>
              </ul>
              <% if @product.stock == 0 %>
                <%= 'Produto indisponível' %>
              <% end %>
                <br>
              <% if user_signed_in? %>
                <%= simple_form_for [@product, @order] do |f| %>
                  <div class="form-inputs">
                    <%= f.input :quantity, input_html: { value: '1' } %>
                  </div>
                  <div class="form-actions">
                    <%= f.submit "Buy", class: 'btn btn-danger' %>
                    <hr>
                  </div>
                <% end %>
              <% else %>
                <%=link_to "Sign in to buy!", new_user_session_path%>
              <% end %>
              <% if user_signed_in? && policy(@product).edit? %>
          <%= link_to 'Edit', edit_product_path(@product) %> |
        <% end %>
        <% if user_signed_in? && policy(@product).destroy? %>
          <%= link_to 'Remove this product', product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %> |
        <% end %>
        <br>
        <p ><%= link_to 'Back to Products', products_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
