<h1>Info about Product</h1>

<p> Product: <%= @product.name %> </p>
<p> Category: <%= @product.category %> </p>
<p> Description: <%= @product.description %> </p>
<p> Price R$: <%= @product.price %> </p>
<p> Stock: <%= @product.stock %> </p>

<%# Não carrega imagem qdo produto for alimentado via seed %>
<%# <p> Stock: <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill%>

<div class="">
  <% if user_signed_in? %>
      <%=link_to "Buy!", product_orders_path(@product,current_user), method: :post%>
  <% else %>
      <%=link_to "Sign in to buy!", new_user_session_path%>
  <% end %>
</div>

<br>
<br>

<% if user_signed_in? && policy(@product).edit? %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>

<% if user_signed_in? && policy(@product).destroy? %>
  <%= link_to 'Remove this product', product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %> |
<% end %>

<%= link_to 'Back to Products', products_path %>
