<h1>Info about Product</h1>

<p> Product: <%= @product.name %> </p>
<p> Category: <%= @product.category %> </p>
<p> Description: <%= @product.description %> </p>
<p> Price R$: <%= @product.price %> </p>
<p> Stock: <%= @product.category %> </p>

<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Remove this product', product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to 'Back to Products', products_path %>
