<div class="container mt-4">
  <h4>Info about product</h4>
  <div class="row">
    <div class="col-8">

      <% if @product.photo.attached?  %>
        <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <img src=<%= @product.img_url %> />
      <% end %>

      <div class="card-body">
        <h4 class="card-title"><%= @product.name %></h4>
      </div>
        </div>
          <div class="col-12 col-lg-6">

            <ul class="list-group list-group-flush ">
              <li class="list-group-item">Category: <%= @product.category %></li>
              <li class="list-group-item">About product: <%= @product.description %></li>
              <li class="list-group-item">Price: <%= number_to_currency(@product.price) %></li>
              <li class="list-group-item">Stock: <%= @product.stock %> un.</li>
            </ul>

              <% if @product.stock == 0 %>
                <%= 'Produto indisponível' %>
              <% end %>
                <br>
              <% if user_signed_in? %>
                <%= simple_form_for [@product, @order] do |f| %>
                  <div class="form-inputs">
                    <%= f.input :quantity, input_html: { value: '1' } %>
                  </div>
                  <div class="form-actions">
                    <%= f.submit "Buy", class: 'btn btn-danger' %>
                  </div>
                <% end %>
              <% else %>
                <%=link_to "Sign in to buy!", new_user_session_path%>
              <% end %>

              <br>
          </div>
        </div>

        <% if user_signed_in? && policy(@product).edit? %>
          <%= link_to 'Edit', edit_product_path(@product) %> |
        <% end %>
        <% if user_signed_in? && policy(@product).destroy? %>
          <%= link_to 'Remove this product', product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %> |
        <% end %>

        <p class="btn btn-info"><%= link_to 'Back to Products', products_path %></p>

    </div>
  </div>
</div>
